#Будут игнорироваться все файлы файлы, заканчивающиеся суффиксами _old, _backup
*.*_old
*_backup

# будет игнорироваться каталог tmp
tmp/*

# будут игнорироваться файлы Thumbs.db и .DS_Store
Thumbs.db
\.DS_Store



